:root {
  --q-primary: #D2E186;
  --q-secondary: #FB8159;
  --q-accent: #415111;
}

.bg-primary,
.bg-primary.text-white {
  color: #415111 !important;
}

.bg-primary .q-icon,
.bg-primary.text-white .q-icon {
  color: #415111 !important;
}

.bg-primary .q-field__label,
.bg-primary .q-field__native {
  color: #415111 !important;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.q-card {
  border-radius: 8px;
}

.q-table th {
  font-weight: 600;
  font-size: 0.8rem;
}

.q-table td {
  font-size: 0.8rem;
}

.splitter__panel {
  overflow-y: auto;
}
